@charset "UTF-8";

/*Versão para tds as mídias*/

/*Typical Device Breakpoints
Peuqenas telas: 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print{
*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(../img/back-print.jpg);
}

main{
    border: solid 2px black;
}

main h1{
    color: black;
    text-shadow: none;
}
}
/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 992px) { 
    body{
        background-image: url(../img/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{ display: block}
    img#print{display: none}
    img#pc{display:none;}
    img#tv{display:none}
}

/*celphone*/
@media screen and (max-width: 600px){
    body{
        background-image: url(../img/back-phone.jpg);
    }
    img#phone{display: block;}
    img#tablet{ display: none}
    img#print{display: none;}
    img#pc{display:none;}
    img#tv{display:none;}
}

/*desktops*/
@media screen and (min-width: 992px){
    body{
        background-image: url(../img/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{ display: none;}
    img#print{display: none;}
    img#pc{display:block;}
    img#tv{display:none}
}

/*tv*/
@media screen and (min-width: 1200px){
    body{
        background-image: url(../img/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{ display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display:block;}
}